@import "../variables";

.header {
  font-size: 13px;
  background-color: #2a2a2a;
  height: $header_height;
}

.activedLine {
  height: 3px;
  border-radius: 2px;
  background-color: $primary;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.logout {
  margin-left: 2rem;

  &:hover {
    background-color: darken($primary, 3%) !important;
  }
}
