@import "../variables";

.header {
  font-size: 13px;
  background-color: #2a2a2a;
  height: $header_height;
}

.activedLine {
  height: 3px;
  border-radius: 2px;
  background-color: $primary;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.logout {
  margin-left: 2rem;

  &:hover {
    background-color: darken($primary, 3%) !important;
  }
}

.notificationIcon {
  width: 15px;

  .number {
    position: absolute;
    top: -2px;
    right: 6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #2a75e6;
  }
}
