.cartHeader {
  background: #e8e8e8;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
}

.itemRow {
  border-top: 0 !important;
}

.subTotal {
  width: 100px;
}
