@import "../variables";

.cartHeader {
  background: #e8e8e8;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.itemRow {
  border-top: 1px solid $border-color !important;
}

.payBtns {
  width: 200px;
}

.subTotal {
  width: 100px;
}

.listGame {
  li:nth-child(2n + 1) {
    background-color: #fcfcfc;
  }

  li:nth-child(2n + 2) {
    background-color: #f5eaea;
  }
}

.selectAcc {
  max-width: 300px;
}

@media (max-width: 768px) {
  .customLabel {
    font-size: 14px;
  }

  .cellItem {
    display: block !important;
    position: relative;
    padding-left: 120px !important;
  }

  @mixin beforeEl {
    position: absolute;
    left: 0.7rem;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .field1::before {
    content: "Game";
    @include beforeEl;
  }

  .field2::before {
    content: "Package";
    @include beforeEl;
  }

  .field3::before {
    content: "Quantity";
    @include beforeEl;
  }

  .field4::before {
    content: "Total";
    @include beforeEl;
  }
}
