@import "../../variables";

.timeline {
  list-style-type: none;
  position: relative;
}

$circle_size: 20px;

.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

.timeline > li {
  margin: $circle_size 0;
  padding-left: $circle_size;
}

.timeline > li:before {
  content: " ";
  background: $white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid $info;
  left: $circle_size;
  width: $circle_size;
  height: $circle_size;
  z-index: 400;
}
