.otpInput {
  width: 22px !important;
}

.guideImg {
  object-position: center top;
  max-height: 600px;
}

.gameName {
  background-color: #eee;
  height: 48px;
  border-radius: 0.18rem;
}

.btnVerify {
  width: 55px;
}
